@model UnapecErpData.Model.Documento
<div class="modal fade" id="crearDocumentoModal" tabindex="-1" role="dialog" aria-labelledby="crearDocumentoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearDocumentoLabel">Crear Documento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ProveedorId" class="control-label"></label>
                        <select asp-for="ProveedorId" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Numero" class="control-label"></label>
                        <input asp-for="Numero" class="form-control" />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumeroFactura" class="control-label"></label>
                        <input asp-for="NumeroFactura" class="form-control" />
                        <span asp-validation-for="NumeroFactura" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control"/>
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Monto" class="control-label"></label>
                        <input asp-for="Monto" class="form-control" />
                        <span asp-validation-for="Monto" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createDocumento()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
